.grid {
  display: grid;
  height: 50vh;
  gap: 10px;

  grid-template:
    "header header header header" 1fr
    "content content content nav" 2fr
    "footer footer footer footer" 1fr / 1fr 1fr 1fr 1fr;

  justify-items: stretch;
  align-items: stretch;
  /* place-items: stretch stretch; */
}

.header {
  background-color: green;
  grid-area: header;
}

.content {
  background-color: blueviolet;
  grid-area: content;
}

.nav {
  background-color: tomato;
  grid-area: nav;
}

.footer {
  background-color: yellow;
  grid-area: footer;
}
